<html>
  <head>
    <title>Our cool website - no nazis allow</title>
  </head>

  <body>
    <h1>SITE LOGO</h1> 
      <div id="main">
        {{{body}}}
      </div>
    <footer>Copyright 2017</footer>
  </body>

</html>
